<h1>Expense Report for <%= @budget.name %></h1>
<h4><%= link_to "Edit Budget Specifications", edit_budget_path(@budget) %></h4>
<% if @budget.exceeded? %>
  <h2>Budget Has Been Exceeded</h2>
<% end %>
<h4><%= show_budget_status(@budget) %></h4>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">



    <h4>Expenditure Limit: <%= number_to_currency(@budget.limit) %></h4>
    <h4>Current Expenditure: <%= number_to_currency(@budget.total_expense) %></h4>
    <h4>Remaining Expenditure: <%= number_to_currency(@budget.remaining_expense) %></h4>

    <br>
    <% if @budget.status == "Inactive" %>
      <p>Once your budget begins, you can spend up to <%= number_to_currency(@budget.recommended_expenditure) %> on a daily basis.</p>
    <% elsif @budget.status == "Complete" %>
      <p>Your average daily expenditure was <%= number_to_currency(@budget.average_expenditure) %> </p>
    <% else %>
      <p> Your current average of daily expenses is <%= number_to_currency(@budget.average_expenditure) %>. In order to meet your budget goals, you can spend up to
        <%= number_to_currency(@budget.recommended_expenditure) %> on a daily basis.</p>
    <% end %>
    <p> Add and delete expenses by clicking on one of the categories below.</p>
    <h3> Categorical Breakdown </h3>

      <%= render partial: "budgets/categories", locals: { categories: @budget.ordered_categories } %>

    <h3> Top Five Expenses </h3>
      <%= render partial: "budgets/expenses", locals: { expenses: @budget.top_five_expenses } %>

    <h3> Most Recent Expenses </h3>
      <%= render partial: "budgets/expenses", locals: { expenses: @budget.most_recent_expenses } %>

  </div>
</div>
