<div class="center">
  <%= form_for([category, expense], :html => {class: "form-inline"})  do |f| %>
    <% if expense.errors.any? %>
      <div id="error_explanation">
        <h2>Please enter valid information.</h2>

        <ul>
          <% expense.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>

    <div class="inline">
      <%= f.text_field :description, :placeholder => "Description" %>
    </div>

    <div class="inline">
      <%= f.text_field :cost, :placeholder => "Cost"  %>
    </div>

    <%= f.submit class: "btn btn-primary btn-sm" %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('form').on('submit', function(event) {
      event.preventDefault();

      var expenseParams = $(this).serialize();
      var expensePost = $.post(this.action, expenseParams);

      expensePost.done(function(data) {
        console.log(data);
      });
    });
  });
</script>
