<div class="center">
  <%= form_for([category, expense], :html => {class: "form-inline"})  do |f| %>
    <% if expense.errors.any? %>
      <div id="error_explanation">
        <h2>Please enter valid information.</h2>

        <ul>
          <% expense.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>

    <div class="inline">
      <%= f.text_field :description, :placeholder => "Description" %>
    </div>

    <div class="inline">
      <%= f.text_field :cost, :placeholder => "Cost"  %>
    </div>

    <%= f.submit class: "btn btn-primary btn-sm" %>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('form').on('submit', function(event) {
      event.preventDefault();

      var expenseParams = $(this).serialize();
      var expensePost = $.post(this.action, expenseParams);

      expensePost.done(function(data) {
        $('tbody').empty();
        $('form')[0].reset();
        for (var i = 0; i < data.length; i++) {
          var expense = data[i];
          console.log(expense);
          var description = '<th scope="row">' + expense.description + '</th>';
          var percentage = '<td>' + expense.percentage + '%</td>';
          var cost = '<td>$' + expense.cost.toFixed(2) + '</td>';
          var deleteLink = '<td><a rel="nofollow" data-method="delete" href="/expenses/' + expense.id + '">Delete Expense</a></td>';
          var tableRow = ['<tr>', description, percentage, cost, deleteLink, '</tr>'].join("")
          $('tbody').prepend(tableRow);
        }
      }).fail(function(data) {
        console.log(data);
      });
    });
  });
</script>
